body{
    margin: 0;

}
.container{
    /* background-color: white; */
    background: linear-gradient(45deg, rgb(1, 99, 179),rgb(178, 247, 255), rgb(83, 252, 176));
    border: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.holder{
    display: flex;
    align-items: center;
    background-color: orange;
    border: none;
    border-radius: 2rem;
    height: 70%;
    overflow: scroll;
    scrollbar-width: none;
    background: linear-gradient(45deg, #4598fd 25%, #00ecf9 ,#faba2e,#ff6060);
    background-size: 400% 400%;
    z-index: 1;
    box-shadow: 1px 1px 1rem 2px black;
    transition: background-position 1s ease, box-shadow 0.5s ease;

}
.holder:hover{
    background-position: 100% 50%;
    box-shadow: 1px 1px 2rem 2px black;

}
.sack{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 15rem;
    width: 100vw;
    margin: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shade{
    position: absolute;
    background: linear-gradient(90deg,rgb(115, 245, 124),rgb(0, 217, 255));
    width: 100%;
    height: 100%;
    opacity: 0.25;
    border-radius: 5rem;

}
p{
    all: unset;
    opacity: 1;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:1px 1px red;
}
a{
    color: rgb(242, 255, 0);
    text-decoration:overline;
    margin: 2rem;
    cursor: pointer;
    z-index: 2;
} 
.bar{
    background-color: whitesmoke;
    border-radius: 1rem;
    border: none;
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feed_bar{
    height: 6rem;
    vertical-align: top;
    resize: none;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.button{
    position: relative;
    display: inline;
    background-color: white;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: 5.5rem;
    box-sizing: border-box;
    margin-right: 2rem;
    transition: all s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 1px 0.5rem 1px black;
    transition: box-shadow 0.1s ease;
}
.button:hover{
    box-shadow: 0 0 0rem 0px black;
    background-color: lightblue;
    
}
